.page {
  background-color: #2A2C2F;
  display: flex;
  flex-direction: column;
  margin: auto;
  justify-content: center;
  font-family: 'Inter';
  max-width: 1184px;
  padding: 28px 48px 24px;
}

@media screen and (max-width: 1023px) {
  .page {
    padding: 28px 0 24px;
  }
}